/* Navegação - Pesquisa e Filtro  */
.nav-main {
    display: flex;
    background-color: var(--contrast-secondary-bg-color);
    border-radius: 4px;
    margin: auto;
}

.nav-main div {
    width: 30rem;
    height: 4rem;
}

.search-main {
    width: 25rem;
    height: 3rem;
    background-color: transparent;
    padding: 0px 10px;
    font-size: 1.8rem
}

.centralizar {
    align-items: center;
    align-content: center;
}

.search-main:focus {
    outline: none;
}

.pesquisa-btn, .filtro-main {
    padding: 5px;
    background-color: transparent;
}

/* Botão Gerar Relatorio */


.btn-relatorio {
    background-color: #dcdcdc;
    width: 32rem;
    height: 3rem;
    font-size: 1.8rem;
    transition: .5s;
    border:.5px solid #4e4e4e;
    border-radius: 4px;
}

.btn-relatorio:hover {
    background-color: #e7e7e7;
    color: #4e4e4e;
    border-color: #d0d0d0;
}


/* Estimativa de Capital */

.estimativa-capital {
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 2rem !important;
}

.desc-estimativa {
    width: 40rem;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem 2rem;
}

.desc-estimativa p {
    font-size: 2rem;
}


/* Faturamento */

.container-graph {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

canvas {
    width: 100% !important;
    height: auto !important;
}

.chart-wrapper {
    margin: auto;
    width: 100%;
    height: auto;
}

/* Reincidência de Clientes */

.container-reincidencia {
    background-color: var(--contrast-secondary-bg-color);
    margin: 0 auto;
    padding: 0 10px;
}

/* Benchmarking */

.chart-box {
    width: 50rem;
}

/* geral */

main {
    margin-top: 2rem;
}

hr {
    margin: 0 !important;
}

.container-indicador {
    align-items: center;
    width: 80%;
    margin: auto;
}

.format-title {
    font-weight: 200;
    font-size: 2rem;
    margin: 15px;
}

@media (max-width: 768px) {

    .chart-box {
        max-width: 80%;
        width: auto;
    }

    .container-indicador {
        width: 100%;
    }

    .container-graph {
        padding: 10px;
    }

    .desc-estimativa {
        width: 90%;
        padding: 10px;
        margin: auto;
    }

    .desc-estimativa p {
        font-size: 1.6rem;
    }

    .container-reincidencia {
        padding: 0 10px;
    }

}

@media (max-width: 480px) {
    h1 {
        font-size: 1.4rem !important;
    }

    .nav-main {
        width: 95%;
        justify-content: space-evenly;
    }

    .btn-relatorio {
        width: 95%;
    }

    .format-title {
        margin: 5px 10px;
    }

    .desc-estimativa {
        padding: 0;
    }
}