:root {
    --primary-color: #EA1D2C;
    --primary-font-color: #222222;
    --contrast-primary-font-color: #3d3d3d;
    --primary-bg-color: #efefef;
    --contrast-primary-bg-color: #cdcdcd;
    --contrast-secondary-bg-color: #e7e7e7;
    --positive-color: #006a0b;
    --negative-color: #aa0000;
    --neutral-color: #03001c;
}

main {
    max-width: 1440px;
    margin: auto;
    width: 80%;
}

/* Bem Vindo - Usuário */

.perfil-usuario {
    margin-left: 10px;
    margin-top: 3rem;
    display: flex;
    padding: 10px;
    background-color: var(--contrast-secondary-bg-color);
    width: 24rem;
    height: 5rem;
    border-radius: 4px;
    justify-content: space-between;
}

.foto-usuario i{
    padding-right: 10px;
    font-size: 3rem;
    color: var(--contrast-primary-font-color);
}

.icone-usuario {
    font-size: 1.5rem;
    color: var(--contrast-primary-font-color);
    align-items: center;
    align-content: center;
}

.texto-usuario p {
    font-weight: 600;
    color: var(--contrast-primary-font-color);
    margin: 0;

}

.info-usuario {
    display: flex;
}


/* Informações de Saldo */

.marcadores-saldo-RCL {
    background-color: var(--primary-color);
    height: 120px;
    margin: 10px;
    border-radius: 8px;
}

.marcador-saldo {
    display: flex;
    padding: 10px;
    height: 4rem;
}

.marcador-saldo h3, .marcador-saldo p{
    color: var(--contrast-primary-bg-color);
    font-weight: 600;
    font-size: 2.4rem;
}

.marcador-saldo p {
    padding-left: 7rem;
}

.marcadores-RCL {
    display: flex;
    background-color: var(--contrast-secondary-bg-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.marcador {
    width: 33.3%;

}

.marcador p {
    font-size: 1.6rem;
    font-weight: 600;
}

.positive {
    color: var(--positive-color);
}
.negative {
    color: var(--negative-color);
}
.neutral {
    color: var(--neutral-color);
}



/* Indicadores Financeiros */



/* Indicadores Estratégicos */

.saldo h2, .carousel h2 ,.indicador-estrategico h2{
    font-weight: 200;
    font-size: 2rem;
    margin: 15px;
}
.indicadores {
    display: flex;
    justify-content: space-around;

}

.indicadores a img {
    height: 80px;
}

.indicador-1, .indicador-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    border-radius: 8px;
    text-decoration: none;
    color: var(--primary-bg-color);
    margin: 10px;

}

.indicador-1 {
    background-color: var(--contrast-primary-font-color);
}

.indicador-2 {
    background-color: var(--primary-color);
}

.indicador-1 h3, .indicador-2 h3 {
    font-size: 2.0rem;
    font-weight: 700;
}



@media (max-width: 740px) {

    .indicadores {
        display: block;
    }

    .indicador-1 , .indicador-2 {
        width: 80%;
        margin: 10px auto;
    }

    .marcadores-saldo-RCL {
        width: 80%;
        margin: auto;
    }

}

@media (max-width: 590px) {
    .perfil-usuario{
        width: 80%;
        margin: auto;
    }

    .marcador-saldo p {
        padding-left: 1rem;
    }
}
